@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
#carousel-college {
    text-align: center;
    height: 850px;
    margin-top: 24px;
    margin-bottom: 70px;
    overflow: hidden;
}

#carousel-college img {
    min-height: 100%;
    min-width: 100%;
    margin-top: 0;
     
}

.caption {
    margin-bottom: 400px;
    text-shadow: .5px 1px gray;
    color: black;
    font-family: 'Crimson Text', serif;
    background-color: white;
    opacity: 0.8;
    border-radius: 15px;
}

.caption h1 {
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 120px;
    letter-spacing: 2px;
}

.caption h2 {
    margin-bottom: 20px;
    font-size: 25px;
}

.caption h3 {
    margin-bottom: 40px;
}


#marketing {
    margin-top: 250px;
    margin-bottom: 200px;
}

.intro {
    flex: 1 100%;
}


.bigLogoText {
    font-family: 'Graduate', cursive;
    font-size: 50px;
  flex: 1;
}

.logoText {
    font-family: 'Graduate', cursive;
    font-size: 65px;
    display: inline;
}

