
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Graduate');


.logostyle {
  
    color: #f6cc45;
    font-size: 20px;
    display: inline;
    margin-right: 30px;
    padding: 3px;
    border-style: solid;
    border-width: 1px;
    font-family: 'Graduate', cursive;


#newuser {
    display: grid;
    padding: 1em;
    background: #9eccc6;
    border: 1px solid #c1c1c1;
    margin: 2rem auto 0 auto;
    max-width: 600px;
    padding: 1em;
}

.navh1 {
    color: #f6cc45;
    font-size: 20px;
    display: inline;
}

.navh4 {
    font-size: 15px;
    display: inline;
    font-family: 'Graduate', cursive;
}

.logoutlink {
   
    font-size: 10px;
    padding-bottom: 5px;
    display: inline;
    font-family: 'Graduate', cursive;

}

.navlink {
    font-size: 15px;
    display: inline;

h4 {
    margin-top: 15px;
    margin-bottom: 5px;
}

.linkText{
    font-family: 'Graduate', serif;

}