@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Graduate');

#newuser {
    display: grid;
    padding: 1em;
    background: #9eccc6;
    border: 1px solid #c1c1c1;
    margin: 2rem auto 0 auto;
    max-width: 600px;
    padding: 1em;
}

#edituser {
    display: grid;
    padding: 1em;
    background: #9eccc6;
    border: 1px solid #c1c1c1;
    margin: 2rem auto 0 auto;
    max-width: 600px;
    padding: 1em;
}

form input {
    background: #fff;
    border: 1px solid #9c9c9c;
    width: 100%;
}


#submit {
    background: #47558b;
    padding: 0.7em;
    width: 100%;
    border: 0;
    color: white;
    margin-top: 20px;
}

#submit:hover {
    background: #427982;
}

label {
    /* padding: 0.5em 0.5em 0.5em 0; */
    margin: 0 0 0 4px;
    padding: 0;
}

input {
    padding: 0px;
    margin-bottom: 0px;
    width: 100%;
}

input:focus {
    outline: 3px solid yellow;
    width: 100%;
}

.form-group {
    margin: 0 0 0 4px;
}



.selections{
    width: 200px;
}


h4 {
    margin-top: 15px;
    margin-bottom: 5px;
}

.linkText{
    font-family: 'Graduate', serif;
}