@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Graduate');

.details-container {
    background-color: rgb(230, 223, 223)
}

.details-title {
    text-align: center;
    background-color: rgb(230, 223, 223)
}

.details-card {
    height: 400px;
    text-align: center;
    background-color: rgb(230, 223, 223)
}

.details-card p {
    font-size: 130%
}

.table-container {
    width: 100%;
    display: flex;
    justify-content: center; 
}

.searchDashboard {
    width: 100%;
    flex-flow: row nowrap;
    padding: 0;
    margin: 70px 0;
    align-content: center;
}



.searchTable {
    flex-flow: column nowrap;
    display: inline-flex;
    width: 80%;
    margin: 0;
    padding: 0;
    padding-left: 20px;
}
.favorites {
    flex-flow: column nowrap;
    display: inline-flex;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 18%;
}
.heading {
    font-family: 'Graduate';
    text-align: center;
}

.heading a {
    font-family: 'Graduate';
    text-align: center;
    color:black;
}

.favorites h3, .preferences h3 {
    font-size: 16px;
}

.itemTitle {
    line-height: 24px;
    margin-left: 60px;
    padding-top: 7px;
    font-family: 'Graduate', serif;
}

.item {
    margin: 0;
    line-height: 24px;
    text-decoration: underline;
    padding-top: 26.5px;
    padding-left: 20px;
}

.favorites ol {
    padding: 0;
    padding-left: 20px;
}

button.btn.btn-success.react-bs-table-csv-btn.hidden-print {
    background-color: #222;
    color: #f6cc45;
    font-size: 16px;
    border: #9d9d9d; 
    box-shadow: 2px 2px 5px #9d9d9d;
}

button.btn.btn-success.react-bs-table-csv-btn.hidden-print:hover {
    background-color:  #9d9d9d;
    color: #222;
}

.tip {
    font-size: 16px;
    font-style: italic;
    margin-top: 15px;
}

.favoriteLink {
    color: #222;

}

.favoriteLink:hover{
    color:#222;
    text-decoration:none;
    
}

.instructions{
    margin-bottom: 30px;
    margin-top: -40px;
}

.footer {
    width: 100%;
    background-color: #222;
    color: #f6cc45;
    padding-bottom: 5px;
}

.preferences {
    flex-flow: row nowrap;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    width: 100%;
    background-color: #222;
    color: #f6cc45;
    padding-right: 70px;
}